#chat-screen {
  background-color: var(--blue);
  height: 500vh;
  color: #fff;
}
#chat-screen .alt-header {
  position:fixed;
  width: 100%;
  box-sizing: border-box;
  top: -10px;
  background-color: var(--blue);
}
#chat-screen .status-bar {
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.chat-status-bar span,
.chat-status-bar i,
.chat-screen {
  color: #fff;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  background-color: #adc6da;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__info {
  color: #000;
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: #fff;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}

.message__author,
.message_time {
  opacity: .8;
  font-size: 14px;
}

/*  */
.message-row--own {
  justify-content:flex-end;
}

.message-row--own .message__bubble {
  background-color: yellow;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

/*  */
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}

.reply .reply__column:first-child {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
  color: #000;
}

.reply input {
  padding: 14px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  box-sizing: border-box;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
  color: #000;
}

.reply__column:last-child > i {
  right: 50px;
  top: 15px;
}

.reply__column button {
  background-color: var(--blue);
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 98vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}